
body{
  padding: 0;
  margin: 0;
}
.container{
  display: grid;
  height: 100vh;
  grid-template-columns: auto 1fr auto;
  grid-template-rows: auto;

}
.list-container{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  grid-template-areas: "header header header"
                        "list ... filter"  
  ;
}
.list-item{
display: flex;
gap: 20px;
justify-content: center;
align-items: center; 

}
.filter-item{
  display: flex;
gap: 20px;
}
#todo-list {
  display: grid;
  max-width: 50%;
  gap: 20px;
  flex-wrap: wrap;
  grid-area: list;
}
#filter-list{
  grid-area: filter;
  
  display: grid;
  max-width: 50%;
  gap: 20px;
  flex-wrap: wrap;
}
.form-container{
  display: flex;
  justify-content: space-between;
  margin: 1rem;
}
li{
  list-style: none;
  width: 100%;
  padding: 1rem;
}
ul{
  margin: 0;
}