body{
  margin: 0;
  padding: 0;
}
.container{
  height: 100vh;
  height: 100dvh;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr auto;
  grid-template-areas: "header header header"
                        "main main main"
                        "footer footer footer";
}
header{
  grid-area: header;
  background: rgb(65,66,150);
background: linear-gradient(90deg, rgba(65,66,150,1) 37%, rgba(0,4,36,0.23993347338935578) 100%, rgba(0,212,255,1) 100%);
padding: 1rem;
}
main{
  grid-area: main;
  display: flex;
  justify-content: center;
  align-items: center;
}
footer{
  grid-area: footer;
  background: rgb(65,66,150);
  background: linear-gradient(90deg, rgba(65,66,150,1) 37%, rgba(0,4,36,0.23993347338935578) 100%, rgba(0,212,255,1) 100%);
  padding: 1rem;
}

.navbar{
  display: flex;
  justify-content: space-around;
}
#menu{
  display: flex;
  justify-content: space-around;
  gap: 30px;
}
#menu:hover >a{
  background: rgb(25, 25, 126);
  color: white;
  padding: 1rem;
  transition: all 1s ease-in-out;
  border-radius: 10%;
}
a{
  text-decoration: none;
  color: black;
}
li{
  list-style: none;
  font-size: 2rem;
  font-family: sans-serif;
  font-weight: bold;
  
  
}
.main-container{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
  padding: 1rem;
}
.hero-img{
  border-radius: 50%;
}
#signUp-form{
  display: grid;
  gap: 20px;
  justify-content: center;
  align-items: center;
  width: 500px;
}
input{
  padding: 1rem;
  border-radius: 10%;
  border: none;
  background-color: rgb(238, 232, 232);
  text-align: center;
    
}
.pics{
  width: 200px;
  height: 200px;
  border-radius: 10%;
  transition: all 1s ease-in;
}
.pics:hover{
  width: 400px;
  height: 400px;
  transition: all 1s ease-out;
}